.lvi {
  &-row {
    display: flex;
    height: 2em;

    &.even {
      background-color: #ebebeb;
    }
  }

  &-cell-wrap {
    flex-grow: 1;
    width: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-cell {
    min-width: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-header {
    background-color: silver;
  }
}

.table-grid-card {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 100%;
  height: 100%;

  .table-card-header {
    flex-grow: 0;
    line-height: 1.1;
    max-height: 2.2em;
    margin-bottom: 5px;
  }

  .table-card-body {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .table-card-footer {
    flex-grow: 0;
    line-height: 1.1;
    max-height: 2.2em;
    margin-top: 5px;
  }
}